{% extends "base.html" %}

{% block head %}
<script>
  $(window).ready(function(){
    get_new_battle();

  });
</script>
{% endblock %}



{% block content %}
<div class="container">
  <div class="row">
    <div class="youtube-holder col-md-6">
      <h1 id="left-song-title" class="song-title"> </h1>
      <div id="left_youtube_container">

      </div>

      <button class="choose-button"> CHOOSE </button>
    </div>
    <div class="youtube-holder col-md-6">
      <h1 id="right-song-title" class="song-title"> </h1>
      <div id="right_youtube_container">

      </div>

      <button class="choose-button"> CHOOSE </button>
    </div>
  </div>
</div>

{% endblock %}
