{% extends "base.html" %}

{% block head %}
<script>
window.onscroll = function(){
    onHomeScroll();
  };
</script>
{% endblock %}

{% block content %}

<div class="home-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 class="section-title"> Highest Voted Songs</h2>
        <ul>
          {% for i in "xxx" %}
            {% for song in top_songs %}
              <li>
                <div class="number"> {{ forloop.counter }}.</div>
                <a target="_blank" href="{{song.url}}"> {{ song.name }}</a>
                 <!-- <i class="material-icons play-button">play-arrow</i> -->
                 <button class="play-button" onclick="on_list_item_play();"> </button>
                 <div class="list-youtube-holder"  data-video-id="{{ song.song_id}}">
                   <div class="list-youtube-holder-inner"></div>
                 </div>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>

  </div>
</div>

{% endblock %}
