@font-family-Audiowide: 'Audiowide';

body{
  background-color: grey;
}

header{
  height:120px;
  background-color: black;
}

footer{
  height:80px;
  background-color: black;
}

h1{
  text-align: center;
  padding: 20px;
  margin:0;
  font-family: @font-family-Audiowide !important;
}

.youtube-holder{
  text-align: center;
  margin-top: 40px;

  > div{
    height:356px;
  }
  > object{
    height:356px;
  }
}

.song-title{
  padding: 10px;
}

.choose-button{
  margin: 40px auto;
  border:none;
  border-radius:10px;
  padding:15px;
  color: white;
  background-color: darkgrey;
  display: block;

  &:hover{
    background-color: darkslategrey;
  }

}

.parallax-background{
  overflow:hidden;
  position: fixed;
  height:100%;
  width:100%;
  z-index: -1;
  top: 0;
  bottom:0;
}

.large-background{
  height:800px;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;

  .overlay{
    background-color: rgba(0, 0, 0, 0.85);
    height:100%;
    width:100%;
    // -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
  }
}
.bg-1{
  background-image: url('../img/ulcT4.jpg');
}

.bg-2{
  background-image: url('../img/uNvCx67.jpg');
}

.home-content{
  h1{
    margin-top:0;
  }
  ul{
    padding:60px 40px;
    line-height: 40px;
    list-style: none;
    color: white;
    max-width: 800px;
    margin:auto;

    .number{
      float:left;
      font-size: 16px;
      margin-right: 25px;
    }
    .play-button{
      // position: relative;
      width:32px;
      height:32px;
      background-size: 32px 32px;
      background-color: transparent;
      border:none;
      background-image: url('../img/ic_play_arrow_white_24px.svg');
      float:right;
      margin-top:8px;

      -webkit-transition: .75s ease-in;
      -moz-transition: .75s ease-in;
      -o-transition: .75s ease-in;
      transition: .75s ease-in;

      &:active{
        outline:none;
      }

      &.opened{
        transform: rotate(90deg);
      }

    }
  }

  li{
    padding: 12px 0px;
    font-size: 28px;
    display: block;

    a{
      color:white;

      &:hover{
        color:white;
      }
    }
  }
}

.list-youtube-holder{
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;

  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition: .5s ease-in;

  > object{
    margin-top: 20px;
  }
}

.list-youtube-holder.visible{
  height:375px;
}
