body{
  background-color: grey;
}

header{
  height:200px;
  background-color: black;
}

footer{
  height:100px;
  background-color: black;
}

.youtube-holder{
  text-align: center;
  margin-top: 40px;

  > div{
    height:356px;
  }
  > object{
    height:356px;
  }
}

.song-title{
  padding: 10px;
}

.choose-button{
  margin: 40px auto;
  border:none;
  border-radius:10px;
  padding:15px;
  color: white;
  background-color: darkgrey;
  display: block;

  &:hover{
    background-color: darkslategrey;
  }
}
